<div>
  <div class="image-container">
    <img class="forgot-your-password" src="assets/img/forgot-your-password.png">
  </div>
  <div class="forgot-password-info">
    <h2>Forgot Your Password</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="emailbox">
        <input placeholder="Email" type="email" id="email" [(ngModel)]="forgotPasswordDetails.email" name="email" required>
      </div>
      <button type="submit">Request Password Reset</button>
    </form>
    <p>{{ message }}</p>
  </div>
</div>
  