.password-page-image {
    width: 50%;
    border-radius: 5%;
    margin-top: 5%;
    height: 100%;
}

.image-and-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-part {
    padding-left: 5%;
    padding-right: 5%;
}

.forgot-your-password {
    width: 50%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-info {
    text-align: center;
    display: grid;
    gap: 10%;
}

.emailbox {
    padding-bottom: 2%;
}